// HUE & SATURATION
$hueBgPrimary: 231;
$satBgPrimary: 14%;

// SITE
$bodyBgPrimary: hsl($hueBgPrimary, $satBgPrimary, 10%);
$primaryHover: hsl($hueBgPrimary, $satBgPrimary, 20%);
$colorDanger: red;
$colorAccentPrimary: #ffc297;
$colorAccentSecondary: #ab2ccb;
$colorAccentTertiary: #f76aab;
$colorScrollbar: #5d5362;

// TEXT
$textPrimary: whitesmoke;
$textSecondary: rgba($textPrimary, 0.6);
$textDark: $bodyBgPrimary;

// GRADIENTS
$gradientBgColored: linear-gradient(to bottom left, $colorAccentPrimary, $colorAccentTertiary, $colorAccentSecondary);
$gradientBgDark: linear-gradient(to top right, #121218, #323242);
$gradientBgDanger: linear-gradient(to top right, #2d0000, #740000);