@import "../../styles/uiBase.scss";

.mainNav {
  position: relative;
  z-index: 15;
  transition: all 0.25s;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: $bodyBgPrimary;
  box-shadow: $boxShadowDark;

  .rightContent {
    display: flex;
  }
}

.homeBtn {
  .icon {
    font-size: 1.5rem;
  }
}

.mobileNavBtn {
  display: none;

  @include mobileVW() {
    display: inline-block;
  }

  .icon {
    font-size: 1.5rem;
    transition: all 0.25s;

    &.close {
      transform: rotate(90deg);
    }
  }
}

$userBtnBoxShadowBlur: 0.5rem;

.userBtnWrapper {
  overflow: hidden;
  padding: $userBtnBoxShadowBlur;

  @include mobileVW() {
    padding: $userBtnBoxShadowBlur;
    padding-right: 1rem;
  }

  &.showMobile {
    .userBtn {
      transform: translate(0);
    }
  }
}

.userBtn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 $userBtnBoxShadowBlur 0 rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;

  @include mobileVW() {
    transform: translateX(200%);
  }

  .icon {
    font-size: 1rem;
  }
}

.chatName {
  position: relative;
  flex-grow: 1;
  padding-left: 1rem;
  min-width: 0;
  overflow: hidden;
  font-weight: bold;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    background: linear-gradient(
      to right,
      rgba($bodyBgPrimary, 0),
      $bodyBgPrimary
    );
  }

  p {
    white-space: nowrap;
  }
}
