@import "../../styles/uiBase.scss";

.mainNav {
  transition: all 0.25s;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  background-color: $bodyBgPrimary;
  box-shadow: $boxShadowDark;
}

.mobileNavBtn {
  display: none;

  @include mobileVW() {
    display: inline-block;
  }

  .icon {
    font-size: 1.5rem;
    transition: all 0.25s;

    &.close {
      transform: rotate(90deg);
    }
  }
}

$userBtnBoxShadowBlur: 0.5rem;

.userBtnWrapper {
  overflow: hidden;
  padding: $userBtnBoxShadowBlur;

  @include mobileVW() {
    padding: $userBtnBoxShadowBlur;
    padding-right: 1rem;
  }

  &.showMobile {
    .userBtn {
      transform: translate(0);
    }
  }
}

.userBtn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 $userBtnBoxShadowBlur 0 rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;

  @include mobileVW() {
    transform: translateX(200%);
  }

  .icon {
    font-size: 1rem;
  }
}
