@import "../../styles/uiBase.scss";

.userDash {
  position: relative;
  max-width: none;

  h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @include largeVW() {
      margin-bottom: 0;
    }

    &.account {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.fixedWidthContent {
  max-width: 40rem;
  margin: 0 auto;
}

.errorMsg {
  color: $colorDanger;
  margin: 1rem 0;
}
