@import "../../styles/uiBase.scss";

.userDash {
  position: relative;
  min-height: 100%;
  max-width: none;
}

.fixedWidthContent {
  max-width: 40rem;
  margin: 0 auto;
}

.errorMsg {
  color: $colorDanger;
  margin: 1rem 0;
}
