@import "../../../../styles/uiBase.scss";

.form {
  margin: 2rem auto 0 auto;
  max-width: 30rem;
}

.formTitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
