@import "../../styles/uiBase.scss";

.chatCard {
    display: block;
    padding: 1rem;
    transition: all 0.05s;

    &:hover,
    &.selected {
        background-color: $primaryHover;
    }
}

.recipientName {
    font-weight: bold;

}

.lastMsg {
    font-size: 0.7rem;
    color: $textSecondary;
}