@import "../../../../styles/uiBase.scss";

.modal {
}

.btns {
  height: 100%;
  justify-content: center;
  margin-top: 2rem;

  .btn {
    width: 100%;
    padding: 1rem 1.5rem;

    .icon {
      font-size: 1.5rem;
    }
  }
}
