@import "../../../../styles/uiBase.scss";

.modal {
}

.btnsOuterWrapper {
  display: flex;
  flex-direction: column;
}

.btns {
  height: 100%;
  justify-content: center;
  margin-top: 1rem;

  @include mobileVW() {
    margin-top: 0.5rem;
  }

  .btn {
    width: 100%;
    padding: 1rem 1.5rem;

    .icon {
      font-size: 1.5rem;
    }
  }
}
